/* Card styles */
.food-card-container {
  background-color: white;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  overflow: hidden;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center; /* Center text in card */
}

.image-container {
  width: 100%; /* Full width to fit container */
  margin-bottom: 10px;
}

.food-image {
  width: 100%; /* Full width to fit container */
  height: 200px; /* Fixed height */
  object-fit: cover;
  border-radius: 10px; /* Rounded corners for image */
}

.food-header {
  font-size: 20px;
  font-weight: bold;
  margin: 10px 0;
}

.food-details {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.area-name {
  font-size: 16px;
  color: gray;
  margin-bottom: 10px;
}

.cuisines {
  display: flex;
  flex-wrap: wrap; /* Wrap cuisines */
  justify-content: center; /* Center align items */
  margin-bottom: 10px;
}

.sub-cuisines {
  margin: 5px;
  padding: 5px 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  border-radius: 5px;
  background-color: #f4f4f4; /* Light background */
}

.price-cart {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 10px;
}

.food-price {
  font-size: 18px;
  font-weight: 800;
  margin-bottom: 5px;
}

.status {
  font-size: 14px;
  color: green;
}

.status.closed {
  color: red;
}

.rating {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 10px;
}

.add-to-cart-button {
  padding: 10px 20px;
  color: white;
  font-size: 15px;
  background: #2ecc71; /* Green color */
  border: none;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.add-to-cart-button:hover {
  background-color: #27ae60; /* Darker green on hover */
}