/* Main container for the list */
.list {
    margin: 20px;
    background: ghostwhite;
}

/* Grid container for the food cards */
.food-card {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Three cards per row */
    gap: 20px; /* Space between cards */
    margin: 20px;
    padding: 10px;
}

/* Filter button styling */
.filter-btn {
    cursor: pointer;
    padding: 10px 20px;
    background-color: #3498db; /* Blue color */
    color: white;
    border: none;
    border-radius: 5px;
    font-size: 16px;
    transition: background-color 0.3s ease;
}

.filter-btn:hover {
    background-color: #2980b9; /* Darker blue on hover */
}

.search-text{
    margin-left:10px;
}