.Food-Menu-List {
    display: grid;
    grid-template-columns: repeat(4, 1fr); /* 3 columns */
    gap: 20px; /* Space between the cards */
    padding: 20px;
  }
  
  @media (max-width: 768px) {
    .Food-Menu-List {
      grid-template-columns: repeat(2, 1fr); /* 2 columns for tablet */
    }
  }
  
  @media (max-width: 480px) {
    .Food-Menu-List {
      grid-template-columns: 1fr; /* 1 column for mobile */
    }
  }
  